{% extends 'base.html' %}

{% block head %}
User Registration
{% endblock head %}

{% block body %}
<h2>User Registration</h2>
<form id="loginForm" action="/register" method="post">

    <input type="hidden" id="latitude" name="latitude">
    <input type="hidden" id="longitude" name="longitude">

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
    <br><br>
    <div class="error" style="colour:red">{{alrd_exist}} </div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br><br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br><br>
    <input type="submit" value="Register">
</form>
<p>or</p>
<a href="/login">Login</a> <br> <br>
<button onclick="getLocation()">Get Location</button>

{% endblock body %}