{% extends 'base.html' %}
{% block content %}
<form method="post" class="buttons">
	<h3>Enter The Chat Room</h3>
	<div>
		<label>Name:</label>
		<input type="text" placeholder="pick a name!" name="name" value="{{name}}" />
	</div>
	<div class="join" id="joinSection">
		<input type="text" placeholder="Room Code" name="code" value="{{code}}" id="roomCodeInput"
			style="display:none;" />
		<button type="button" name="join" id="joinButton">Join a Room</button>
		<button type="submit" name="join" id="joinButton1" style="display:none;">Join a Room</button>
	</div>
	<button type="submit" name="create" class="create-btn">Create a Room</button>

	{% if error %}
	<ul>
		<li>
			{{error}}
		</li>
	</ul>
	{% endif %}

</form>

<script>
	document.getElementById("joinButton").addEventListener("click", function () {
		document.getElementById("roomCodeInput").style.display = "block";
		document.getElementById("joinButton").style.display = "none";
		document.getElementById("joinButton1").style.display = "block";
	});
</script>
{% endblock %}